<h1>Contact</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Oups !</h1>
    <p class="lead">Vous pouvez nouc contacter directement sur Slack </p>
  </div>
</div>
 